/.idea/
/backend/venv/
*.pyc
/awscred.txt
*.pem
/venv/
**/*.retry
/portainer_data/
!/portainer_data/.geetkeep

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
