/.idea/
/backend/venv/
*.pyc
/awscred.txt
*.pem
/venv/
**/*.retry

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
