option_settings:
    #aws:elasticbeanstalk:environment:
        #EnvironmentType: SingleInstance
        #Tags: 
          #-
            #Key: "me:key"
            #Value: "value"
            #Value: '`{ "Ref" : "AWSEBLoadBalancerURL" }`'


    aws:elb:listener:
        ListenerEnabled: false
    aws:elb:listener:8080:
        ListenerProtocol: HTTP
        InstanceProtocol: HTTP
        InstancePort: 8080
    aws:elb:listener:80:
        ListenerProtocol: HTTP
        InstanceProtocol: HTTP
        InstancePort: 80

    # Help: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html#command-options-general-elbloadbalancer
    aws:elb:loadbalancer:
        CrossZone: true
        #SecurityGroups: '`{ "Ref" : "SGName" }`'  # VpcId must be specified for SGName
        #ManagedSecurityGroup: '`{ "Ref" : "SGName" }`'

    aws:autoscaling:asg:
        MinSize: 1
        MaxSize: 1

Resources:
    port8080SecurityGroupIngressDirect:  # Direct access to instance
        Type: "AWS::EC2::SecurityGroupIngress"
        Properties:
            GroupName: { "Ref" : AWSEBSecurityGroup }
            IpProtocol: tcp
            ToPort: 8080
            FromPort: 8080
            CidrIp: "0.0.0.0/0"
    # Help:
    #   https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html
    #   https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group-ingress.html
    #   https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker_ecs.html
    #   GroupId vs GroupName, EC2-Classic vs EC2-VPC: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html
    #   https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/default-vpc.html#default-vpc-availability
    #   https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-resources.html
    #   https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker-eblocal.html
    #
    # Bugs: See both instance and load balancer (eb and elb) firewall rules
    # Some experts example: http://docs.amazonaws.cn/en_us/elasticbeanstalk/latest/dg/configuring-https-endtoend.html
    port8080SecurityGroupIngress:  # Access through elb
        Type: "AWS::EC2::SecurityGroupIngress"
        Properties:
            # Use attributes: GroupId for VPC and GroupName for non-VPC
            # AWSEBLoadBalancerSecurityGroup -> AWSEBSecurityGroup (attrs: GroupName, VpcId, OwnerId, GroupId)
            GroupName: { "Ref" : AWSEBSecurityGroup }  # modify existing non-VPC group
            IpProtocol: tcp
            ToPort: 8089
            FromPort: 8080
            # See cli:
            # aws elb describe-load-balancers
            # aws cloudformation describe-stacks
            # aws cloudformation get-template --stack-name awseb-xxxx-stack
            SourceSecurityGroupName:  # non-VPC group for use with elb(not SingleInstance) env (CidrIp conditional)
                "Fn::GetAtt" : [ "AWSEBLoadBalancer", "SourceSecurityGroup.GroupName" ]
            SourceSecurityGroupOwnerId:
                "Fn::GetAtt" : [ "AWSEBLoadBalancer", "SourceSecurityGroup.OwnerAlias" ]  # if not owned by current account (todo)

